.check{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar{
    display: block;
        width: 200px;
}

.checkbox{
    border: 1px red  solid;
    display: block;
    width: 20px;
    border-radius: 50%;
}

label {
    display: block;
}